@media (max-width: 768px) {
    .sidebar-container {
      display: none;
    }

    .seta {
      display: none;
    }

    .imagem {
      justify-content: center !important;
    }
  }

  @media (min-width: 768px) {
    .navnav {
      display: none;
    }
  }

  .content-container {
    padding-left: 220px;
  }

  .collapsible {
    background-color: #454545;
    color: white;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .active,
  .collapsible:hover {
    background-color: #00C89D;
  }

  .collapsible:after {
    content: '\002B';
    color: white;
    font-weight: bold;
    float: right;
    margin-left: 5px;
  }

  .active:after {
    content: "\2212";
  }

  .content {
    padding: 0 18px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.2s ease-out;
    background-color: #f1f1f1;
  }

  .p1 {
    color: rgb(56, 107, 5);
  }

  P2 {
    color: rgb(172, 4, 37);
  }

  #tabela {
    height: auto;
    border: 1px solid #000;
    float: center;
    padding: 10px;
    margin-top: 10px;
    margin-bottom: 10px;
  }

  table {
    width: 100%;
    text-align: left;
  }

  #descontos {
    color: red;
  }

  #proventos {
    color: #28B463;
  }

  .col {
    position: relative;
    right: 110px;
  }

  .perfil {
    position: relative;
    left: 170px;
  }

  .voltar {
    position: relative;
    top: -60px;
    width: 0%;
    height: 50%;
  }
  .iconeSeta {
    margin-right: 2em;
  }