
<div class="container">
    <div class="row d-flex align-items-center ">
        <div class="col-md-4 mt-lg-5">
            <div class="imagem text-center d-flex justify-content-end">
                <!--<img src="/src/res/user.png" alt="Imagem" width=190 height=190>-->
                <i class="fa fa-user fa-5x"></i>
            </div>
        </div>
        <div class="col-md-4 mt-lg-5">
            <h4 class="display-6">Guilherme Ezequiel da Silva </h4><br>
            <h5 class="display-10">Desenvolvedor</h5>
        </div>
        <div class="col-md-4 seta mt-lg-5">
            <div class="d-flex justify-content-end align-items-start ">
                <a onclick="history.go(-1);">
                    <i class="fa iconeSeta fa-arrow-left fa-2x"></i>
                </a>
            </div>
        </div>
    </div>
    <div class="container">
        <div class="container mt-lg-4">
            <button id="Demo" class="collapsible btn  btn-lg" (click)="collapse.toggle()" [attr.aria-expanded]="!isCollapsed">Março</button>
        </div>

       

        <div #collapse="ngbCollapse" [(ngbCollapse)]="isCollapsed" class="container">
            <table class="table table-borderless table-dark" *ngFor="let folha of folhas">

                <thead>
                    <tr>
                        <th scope="col">Descrição</th>
                        <th scope="col">Referência</th>
                        <th scope="col">Descontos</th>
                        <th scope="col">Proventos</th>
                    </tr>
                </thead>

                <tbody >
                    <tr>
                        <th scope="row">Horas Trabalhadas</th>
                        <td></td>
                        <td></td>
                        <td id="proventos">R$ {{folha.valorHorasTrabalhadas | number: '1.0-2'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Horas Extras</th>
                        <td></td>
                        <td></td>
                        <td id="proventos">R$ {{folha.valorHorasExtras | number: '1.0-2'}}</td>
                    </tr>
                    <tr>
                        <th scope="row">Bonificação</th>
                        <td></td>
                        <td></td>
                        <td id="proventos">R$ {{folha.bonificacaoColaborador | number: '1.0-2'}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Plr</th>
                        <td></td>
                        <td></td>
                        <td id="proventos">R$ {{folha.plr | number: '1.0-2'}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Plano de Saude</th>
                        <td></td>
                        <td id="descontos">R$ {{folha.valorPlanoSaude | number: '1.0-2'}}</td>
                        <td></td>
                    </tr>

                    <tr>
                        <th scope="row">Vale Transporte</th>
                        <td></td>
                        <td id="descontos">R$ {{folha.valorValeTransporte | number: '1.0-2'}}</td>
                        <td></td>
                    </tr>

                    <tr>
                        <th scope="row">FGTS</th>
                        <td></td>
                        <td id="descontos">R$ {{folha.valorFGTS | number: '1.0-2'}}</td>
                        <td></td>
                    </tr>

                    <tr>
                        <th scope="row">INSS</th>
                        <td></td>
                        <td id="descontos">R$ {{folha.valorInss | number: '1.0-2'}}</td>
                        <td></td>
                    </tr>
                    <tr>
                        <th scope="row">Total</th>
                        <td></td>
                        <td id="descontos" ng-model='val | number: 2'>R$ {{folha.salarioBruto-folha.salarioLiquido | number: '1.0-2'}}</td>
                        <td id="proventos">R$ {{folha.salarioBruto | number: '1.0-2'}}</td>
                    </tr>

                    <tr>
                        <th scope="row">Total líquido a receber</th>
                        <td></td>
                        <td id="descontos"></td>
                        <td id="proventos">R$ {{folha.salarioLiquido | number: '1.0-2'}}</td>
                    </tr>
                </tbody>
            </table>
        </div>