
<div class="container ">
    <div class="row d-flex flex-column">
        <div class="col ">
            <div class="row mt-lg-2 justify-content-md-center align-items-center">
                <div class="col-md-auto p-1">
                    <div class="text-center">
                        <i class="fa fa-envelope fa-5x"></i>
                        <h4 class="display-6">Digite seu Problema</h4>
                        <textarea class="form-control mt-lg-4"  rows="3"></textarea>
                    </div>
                    <div class="container mt-lg-3">
                        <div class="col-md-12 text-center">
                            <button type="button" onclick="confirma()" class="btn ">Enviar</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>