

      <div class="container">
        <div class="row">
          <div class="col ">
            <div class="row justify-content-md-center align-items-center">
              <div class="col-md-auto p-1">
                <div class=" text-center">
                  <i class="fa fa-money fa-5x"></i>
                </div>
              </div>
              <div class="w-100"></div>
              <div class="col-md-auto p-1">
                <h4 class="display-6">Fechamento da Folha</h4>
              </div>
            </div>
          </div>
          <div class="w-100">
            <div class="col">
              <div class="row mt-lg-5 justify-content-md-center">
                <div class="col-md-auto">
                  <label>De: </label>
                  <input type="date">
                </div>
                <div class="col-md-auto">
                  <label>Ate: </label>
                  <input type="date">
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="container mt-lg-5">
        <div class="col-md-12 text-center">
          <a  >
            <button routerLink="/segundaTela" type="button" class="btn ">Enviar</button>
          </a>
        </div>
      </div>
